/* html{
    background-color: #fff !important;
} */

body{
    background: radial-gradient(circle, rgba(238,174,202,0.7903361173570991) 0%, rgb(255, 253, 224) 100%);
}
.cases-container{
    background-color: #fff;
}
.search .input-group{
    width: 35rem;
}

/* cases cards */
.cards .card{
    margin: auto 2rem;
}
.cases-container .card{
    height: 400px;
    background: url('/Images/bleeding.jpg') no-repeat top center/cover;
    border-radius: 20px;
    overflow: hidden;
    /* display: flex;
    align-items: flex-end; */
    border: 1px solid #d3d3d3;
    margin-bottom: 1rem;
}
.card-body{
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 20px;
    cursor: pointer;
    transform: translateY(47%);
    transition: transform 0.3s;
}
.card-body::before{
    content: '';
    position: absolute;
    top: -52px;
    right: -48px;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    box-shadow: inset -48px -48px #fff;
}
.card-text{
    font-weight: light;
}
.card-list li{
    background-color: #cccccc;
    border-radius: 5px;
    padding: 4px;
    margin-right: 10px;
}
.card-body:hover{
    transform: translateY();
}
/* @media (max-width: 992px) {
    .cases-container .cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */

/* footer */
/* #footer{
    background: #E8E8E8;
} */
